@charset "utf-8";


body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
	width: 1000px;
	height: 1000px;
}

g.ball path {
	mix-blend-mode: screen;
}